
.isCLicked{
    display: none;
}

.notClicked{
    display: flex;
}

.nav-container{
    border: solid green 3px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.nav-container--title{
    // display: flex;
    text-align: center;

}
.nav-container--list{
    display: flex;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-around;
    color: white;
    margin: 10px;
    background-color: #ED1D24;
    border: solid black 2px;
    font-size: 30px;
    text-shadow: black;

}