
.isCLicked{
    display: none;
}

.notClicked{
    display: flex;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #ED1D24;
}

.nav-container--title{
    // display: flex;
    text-align: center;
    background-color: #ED1D24;
    color: white;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80px;
    text-shadow: 5px 0px black;

}
.nav-container--list{
    display: flex;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-around;
    color: white;
    margin: 10px;
    background-color: #ED1D24;
    font-size: 30px;
    text-shadow: 2px 2px black;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
        & a:link,
          a:visited,
          a:hover,
          a:active {
            text-decoration: none;
            color: white;
        }
}


.main-container{
    max-width: 100%;
}

.heroes-container{
    margin-top: 40px;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.hero-text{
    max-width: 256px;
}